* {

    font-family: Arial, Helvetica, sans-serif;

}

.Heading {

    margin: auto;
    width: 75%;

}

.draft {

    margin: auto;
    width: 50%;

}

.button {

    margin: auto;
    width: 50%;

}